<h1>Tournaments</h1>

<% if @tournaments.any? %>
    <table>
      <thead>
      <tr>
        <th>name</th>
        <th>commands</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <% @tournaments.each do |tournament| %>
          <tr>
            <td>
              <%= tournament.name %>
            </td>
            <td>
                <% if tournament.commands.count > 0 %>
                  <%= link_to tournament.commands.count, tournament_path(tournament) %>
                <% else %>
                  0
                <% end %>
            </td>
            <td>
              <% if user_signed_in? && current_user.command %>
                <% if tournament.has_command? current_user.command %>
                    <%= link_to "sign_out", sign_out_tournament_path(tournament), :method => :post  %>
                <% else %>
                    <%= link_to "sign_in", sign_in_tournament_path(tournament), :method => :post  %>
                <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    no data
<% end %>
