<h1><%= @tournament.name %></h1>

<% if @tournament.commands.any? %>
    <table>
      <thead>
      <tr>
        <th>added</th>
        <th>logo</th>
        <th>command</th>
        <th>owner</th>
      </tr>
      </thead>
      <tbody>
      <% @tournament.commands.each do |command| %>
          <tr>
              <td>
                
              </td>
            <td class="command_logo">
              <%= logo_img command %>
            </td>
            <td>
              <%= command.name %>
            </td>
            <td>
              <%= command.user.email %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    no data
<% end %>
