/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header,
footer,
.main {
    width: 1024px;
    margin: auto;
}

header {
    text-align: right;
}

.main h1,
.main h2 {
    text-align: center;
}

.main form {
    width: 33%;
    margin: auto;
}

.main form input[type=text],
.main form input[type=file],
.main form input[type=email],
.main form input[type=password] {
    width: 100%;
}

.main form input[type=submit] {
    float: right;
    width: 33%;
}

.main table {
    margin: auto;
}

td.command_logo {
    max-height: 100px;
    max-width: 100px;
    text-align: center;
}

img.command_logo {
    max-height: 100px;
    max-width: 100px;
}

.errors {
    color: red;
}
